
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div style="background-color: #eaeaea">
          <div class="page-header header-filter clear-filtr" data-parallax="true">
            <div class="container">
              <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                  <div class="brand">

                    <h3> Issue Books</h3>
                    <br>
                    <br>

                    <div class="col-sm-6">
                      <div class="card, panel panel-default">
                        <!--<div class="panel-heading bg-blue">Book Ticket</div>-->
                        <div class="panel-body">
                          <div id="RegisterForm">

                            <div class="form-group" >
                              <label class="lbl">Due Date</label>
                              <input type="text" class="form-control" name="Address" style="color: black ;width: 300px">
                            </div>

                            <div class="form-group" >
                              <label class="lbl">Issue Date</label>
                              <input type="text" class="form-control" name="name"style="color: black;width: 300px">
                            </div>
                            <div class="form-group" >
                              <label class="lbl">bid</label>
                              <input type="text" class="form-control" name="password " style="color: black;width: 300px">
                            </div>


                            <div class="form-group" >
                              <label class="lbl">Sid</label>
                              <input type="text" class="form-control" name="Tp" style="color: black ;width: 300px">
                            </div>
                            <div class="form-group" >
                              <label class="lbl">Status</label>
                              <input type="text" class="form-control" name="email" style="color: black;width: 300px">
                            </div>

                          </div>
                          <hr>
                          <div class="button">
                            <button class="btn btn-info"  id="AddRegisterBtn">Issue</button>&nbsp;
                            <button class="btn btn-secondary">Return</button>&nbsp;


                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>


      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src="../../../assets/images%20(2).jpg">


        <br>
        <div class="col-12"><table class="table">
          <thead class="border-light">
          <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">Due Date</th>
            <th scope="col">Issue Date</th>
            <th scope="col">bid</th>
            <th scope="col">sid</th>
            <th scope="col">status</th>




            <!--<th scope="col">Action </th> -->
          </tr>
          </thead>
          <tbody id="flightBody" >

          </tbody>
        </table>
        </div>

      </div>
    </div>
  </div>
</div>

