
<div style="background-color: #D2E0E6">
  <div style="margin-left: 400px" >
    <div style="background-color: #7f7f7f; width: 350px">
      <div style="background-color: #000088">  <h3 style="color: white"> Search Books</h3><br></div>
      <div class="form-group" >
        <label class="lbl">Book Name</label>
        <input type="text" class="form-control" name="Address" style="color: black ;width: 300px;margin-left: 10px"><br>
        <button class="btn btn-info"  id="Add" style="margin-left: 100px">Search Books</button>
      </div>
    </div><br>
    <br>
  
  
  
  </div>
  
  <div class="col-12"><table class="table" style="margin-right: 350px">
    <thead class="border-light">
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">book Id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Catagory</th>
      <th scope="col">page</th>
      <th scope="col">Rack No</th>
      <th scope="col"> Status</th>
      <th scope="col">Author</th>
  
  
      <!--<th scope="col">Action </th> -->
    </tr>
    </thead>
    <tbody id="flightBody" >
  
    </tbody>
  </table>
  </div>
  </div>
  
