<h2 style="margin-left: 400px"> Library Rules And Regulations Rules</h2>
<img src='../../../assets/images%20(2).jpg' style="width: 1400px;height: 500px "><br>
<div style="background-color: #528CE0">
  <div style="background-color: #000088"><h3 style="color: white"> General Rules</h3></div>
<li>
<ul> Identity Card is compulsory for getting access to the library</ul>
  <ul>Silence to be maintained</ul>
  <ul>No discussion permitted inside the library</ul>
  <ul> Registration should be done to become a library member prior to using the library resources</ul>
  <ul> No personal belongings allowed inside the library</ul>
  <ul> Textbooks, printed materials and issued books are not allowed to be taken inside the library</ul>
  <ul> Using Mobile phones and audio instruments with or without speaker or headphone is strictly prohibited in the library premises.</ul>
  <ul> Enter your name and Sign in the register kept at the entrance counter before entering library</ul>
  <ul> Show the books and other materials which are being taken out of the library to the staff at the entrance counter.</ul>
  <ul> The librarian may recall any book from any member at any time and the member shall return the same immediately.</ul>
  <ul> The librarian may recall any book from any member at any time and the member shall return the same immediately.</ul>
  <ul> Library borrower cards are not transferable. The borrower is responsible for the books borrowed on his/her card.</ul>
</li>
</div>
<div style="background-color: #000088"> <h3 style="color: white"> Working Hours of the Library: </h3></div>

 <div style="background-color: #7f7f7f"> <li>
  <ul>  Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</ul>
  <ul> Saturday 8 am to 5 pm</ul>
   <ul> Sundays 9 am to 5 pm (During Examination Time)</ul>
</li>
 </div>
